window {
  opacity: 0.95;
  border-radius: 8px;
  background: linear-gradient(135deg, #eed49f, #f0c6c6);
}

#outer-box {
  margin: 2px;
  border-radius: 8px;
  background: rgba(--wofi-rgb-color1, 1);
}

#inner-box {
  border-radius: 4px;
  padding: 0;
  margin: 2px 2px;
  min-height: 0;
}

#input {
  border: 0;
  border-radius: 4px;
  background-color: rgba(--wofi-rgb-color2, 0.1);
  color: white;
  margin: 0px;
  padding: 2px 10;
  outline: 0px solid transparent;
  border: 0px solid transparent;
  box-shadow: none;
  font-size: 12px;
}

#input image:first-child {
  /* margin-left: -100px; */
}

#input image:last-child {
  display: none;
  /* margin-right: -100px; */
}

#input:focus {
  outline: none;
  border: none;
  background-color: rgba(--wofi-rgb-color2, 0.1);
}

#entry {
  color: rgba(255,255,255,0.5);
  transition: all 250ms;
  margin: 2px 0;
  border-radius: 4px;
}

#entry:selected {
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(255,255,255,0.1);
  border: none;
  outline: none;
}

#text:selected {
  color: #ffffff;
}

#text {
  margin-left: 6px;
}