#window {
  background-color: rgba(--wofi-rgb-color1, 0.95);
  font-size: 18px;
  border-radius: 16px;
  border: 0px solid rgba(--wofi-rgb-color2, 0.95);
  padding: 10px;
}

#outer-box {
  margin: 5px;
}

#input {
  border: 0;
  border-radius: 8px;
  background-color: rgba(--wofi-rgb-color2, 0.25);
  color: white;
  margin: 3px;
  padding: 8px;
  outline: 0px solid transparent;
  border: 0px solid transparent;
  box-shadow: none;
}

#input image:first-child {
  margin-left: -100px;
}

#input image:last-child {
  margin-right: -100px;
}

#input:focus {
  outline: none;
  border: none;
  background-color: rgba(--wofi-rgb-color2, 0.4);
}

#entry {
  color: rgba(255,255,255,0.5);
}

#entry:selected {
  color: #ffffff;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
}

#text:selected {
  color: #ffffff;
}

#img {
  margin-right: 5px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#text {
  margin-left: 3px;
}